body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: white;
    font-weight: normal;
    font-size: 50px;
}

a{
    color: aquamarine;
    font-size: 16px;
}

p{
    color: gray;
    font-size: 21px;
}


footer p{
    text-align: right;
}

.video{
    margin-top: 20px;
}

.phone-icon{
    margin-top: 25px;
}
